body{
    background-color:rgb(184, 207, 255);
}
p{
    border: 3px dotted #ffffff;
    padding: 0px;
    border-top: none;
    margin: 0px;
    width: 100%;
    float: center;
}
.pho{
    float: left;
    width: 33%;
}
.invis{
    color: rgb(184, 207, 255);
    border: none;
}

.name{
    background-color: cornflowerblue;
    color: azure;
    border: 3px dashed #ffffff;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
}
.test{
    background-color: rgb(155, 186, 244);
    border-top: none;
}
.cent{
    text-align: center;
}